html {
  font-size: 62.5%;
}

$breakpoint-large: 960px;

body {
  background-image: url(../imge/IMG_3382.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-size: 1vw;

  

  .content {
    width: 70%;
    height: auto;
    background-color: rgba(12, 12, 12, 0.747);
    margin: auto;

    @media (max-width:$breakpoint-large) {
      width: 100%;
    }

    header {
      @media (max-width: $breakpoint-large) {
        width: 100vw;
      }
    }

    ul {
      display: flex;
      color: rgb(152, 152, 219);
      list-style: none;
      width: 100%;
      justify-content: center;

      a {
        text-decoration: none;
      }

      .li1 {
        background-color: rgb(204, 179, 34);
      }

      li {
        padding: 6px 45px;
        margin: 30px 0;
        border: solid 0.25px;
        border-top: 0px;
        border-bottom: 0px;
        border-color: rgb(248, 241, 248);
        color: floralwhite;
        font-family: 'Noto Serif JP', serif;

        @media (max-width:$breakpoint-large) {
          font-size: 1.8vw;
          padding: 6px 4vw;
          letter-spacing: 0.6vw;
        }

        // @media (max-width:439px) {
        //   font-size: 1em;
        //   padding: 6px 3vw;
        //   letter-spacing: 0.2vw;
        // }

        &:hover {
          transition: 0.7s;
          background-color: rgb(204, 179, 34);
        }
      }
    }
  }



  main {
    .conteiner {
      position: relative;
      // opacity: 0;
      // transition: 1s;
      // &.show{
      //   opacity: 1;
      // }

      .logo {
        opacity: 0;
        transition: 1s;

        &.show {
          opacity: 1;
        }

        #logo-img {
          width: 25%;
          position: absolute;
          left: 12%;
          top: 1.8%;

          @media (max-width:$breakpoint-large) {
            left: 15%;
            top: 0%;
            text-align: center;
          }

        }

        h1 {
          color: honeydew;
          position: absolute;
          font-family: "ｍｓ 明朝", "ms mincho", "ヒラギノ明朝 pro w3", "hiragino mincho pro", serif;
          left: 13vw;
          top: 8.7vw;
          font-size: 2vw;
          text-shadow: 0px 0px 6px #ffffff;

          @media (max-width:$breakpoint-large) {
            font-size: 3.6vw;
            top: 9.5vw;
            left: 19vw;
          }
        }
      }

      .conteiner-h3{
        opacity: 0;
        transition: 3s;

        &.show{
          opacity: 1;
        }
      }

      h2 {
        text-shadow: 0px 0px 6px #ffffff;
        color: honeydew;
        font-family: "ｍｓ 明朝", "ms mincho", "ヒラギノ明朝 pro w3", "hiragino mincho pro";
        margin-left: 2.7vw;
        font-size: 2vw;

        @media (max-width:$breakpoint-large) {
          margin: 0 auto;
          text-align: center;
          font-size: 5vw;
          margin-bottom: 2rem;
          // width: 50%;
        }
      }

      .conteiner-h2 {
        padding-top: 30%;
        display: flex;

        @media (max-width:$breakpoint-large) {
          display: block;
        }

        p {
          color: honeydew;
          font-family: "ｍｓ 明朝", "ms mincho", "ヒラギノ明朝 pro w3", "hiragino mincho pro";
          letter-spacing: 0.8px;
          width: 30vw;
          line-height: 2;
          text-align: center;
          font-size: 1vw;
          margin-bottom: 60px;
          margin-left: 30px;

          @media (max-width:$breakpoint-large) {
            width: 80%;
            margin: 0 auto;
            font-size: 2vw;
          }
        }

        .conteiner-img {
          margin-left: 50px;
          margin-bottom: 10px;
          opacity: 0;
          transition: 1s;
          &.show{
            opacity: 1;
          }

          @media (max-width:$breakpoint-large) {
            margin-left: 0px;
            text-align: center;
          }

          .conteiner-img1,
          .conteiner-img2 {
            img {
              border: solid 0.5rem rgba(216, 176, 44, 0.753);
              margin-top: 30px;
              width: 90%;

              @media (max-width:$breakpoint-large) {
                width: 75%;
              }
            }
          }
        }
      }
    }
  }

  footer {
    .section {
      width: 100%;
      height: auto;
      font-size: 15px;
      background-color: rgba(0, 0, 0, 0.39);
      color: ivory;
      text-align: center;
      justify-content: center;
      font-family: udmincho, ms mincho, ヒラギノ明朝 pro w3, hiragino mincho pro, serif;

      @media (min-width: 710px) {
        display: flex;
      }

      .container1 {
        margin-right: 15px;
        margin-top: 30px;

        p {
          padding-top: 10px;
        }

        @media (max-width: 710px) {
          margin-bottom: 0px;
          margin-top: 0px;
        }

        .container-img {

          .icon {
            width: 13%;
            margin: 10px;
          }
        }
      }

      .container2 {
        margin-top: 30px;
        margin-left: 15px;

        @media (max-width: 710px) {
          margin-bottom: 10px;
          margin-top: 0px;
        }

        p {
          padding-top: 10px;
        }
      }
    }
  }
}