@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  background-image: url(../imge/IMG_3382.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-size: 1vw;
}

body .content {
  width: 70%;
  height: auto;
  background-color: rgba(12, 12, 12, 0.747);
  margin: auto;
}

@media (max-width: 960px) {
  body .content {
    width: 100%;
  }
}

@media (max-width: 960px) {
  body .content header {
    width: 100vw;
  }
}

body .content ul {
  display: flex;
  color: #9898db;
  list-style: none;
  width: 100%;
  justify-content: center;
}

body .content ul a {
  text-decoration: none;
}

body .content ul .li1 {
  background-color: #ccb322;
}

body .content ul li {
  padding: 6px 45px;
  margin: 30px 0;
  border: solid 0.25px;
  border-top: 0px;
  border-bottom: 0px;
  border-color: #f8f1f8;
  color: floralwhite;
  font-family: 'Noto Serif JP', serif;
}

@media (max-width: 960px) {
  body .content ul li {
    font-size: 1.8vw;
    padding: 6px 4vw;
    letter-spacing: 0.6vw;
  }
}

body .content ul li:hover {
  transition: 0.7s;
  background-color: #ccb322;
}

body main .conteiner {
  position: relative;
}

body main .conteiner .logo {
  opacity: 0;
  transition: 1s;
}

body main .conteiner .logo.show {
  opacity: 1;
}

body main .conteiner .logo #logo-img {
  width: 25%;
  position: absolute;
  left: 12%;
  top: 1.8%;
}

@media (max-width: 960px) {
  body main .conteiner .logo #logo-img {
    left: 15%;
    top: 0%;
    text-align: center;
  }
}

body main .conteiner .logo h1 {
  color: honeydew;
  position: absolute;
  font-family: "ｍｓ 明朝", "ms mincho", "ヒラギノ明朝 pro w3", "hiragino mincho pro", serif;
  left: 13vw;
  top: 8.7vw;
  font-size: 2vw;
  text-shadow: 0px 0px 6px #ffffff;
}

@media (max-width: 960px) {
  body main .conteiner .logo h1 {
    font-size: 3.6vw;
    top: 9.5vw;
    left: 19vw;
  }
}

body main .conteiner .conteiner-h3 {
  opacity: 0;
  transition: 3s;
}

body main .conteiner .conteiner-h3.show {
  opacity: 1;
}

body main .conteiner h2 {
  text-shadow: 0px 0px 6px #ffffff;
  color: honeydew;
  font-family: "ｍｓ 明朝", "ms mincho", "ヒラギノ明朝 pro w3", "hiragino mincho pro";
  margin-left: 2.7vw;
  font-size: 2vw;
}

@media (max-width: 960px) {
  body main .conteiner h2 {
    margin: 0 auto;
    text-align: center;
    font-size: 5vw;
    margin-bottom: 2rem;
  }
}

body main .conteiner .conteiner-h2 {
  padding-top: 30%;
  display: flex;
}

@media (max-width: 960px) {
  body main .conteiner .conteiner-h2 {
    display: block;
  }
}

body main .conteiner .conteiner-h2 p {
  color: honeydew;
  font-family: "ｍｓ 明朝", "ms mincho", "ヒラギノ明朝 pro w3", "hiragino mincho pro";
  letter-spacing: 0.8px;
  width: 30vw;
  line-height: 2;
  text-align: center;
  font-size: 1vw;
  margin-bottom: 60px;
  margin-left: 30px;
}

@media (max-width: 960px) {
  body main .conteiner .conteiner-h2 p {
    width: 80%;
    margin: 0 auto;
    font-size: 2vw;
  }
}

body main .conteiner .conteiner-h2 .conteiner-img {
  margin-left: 50px;
  margin-bottom: 10px;
  opacity: 0;
  transition: 1s;
}

body main .conteiner .conteiner-h2 .conteiner-img.show {
  opacity: 1;
}

@media (max-width: 960px) {
  body main .conteiner .conteiner-h2 .conteiner-img {
    margin-left: 0px;
    text-align: center;
  }
}

body main .conteiner .conteiner-h2 .conteiner-img .conteiner-img1 img,
body main .conteiner .conteiner-h2 .conteiner-img .conteiner-img2 img {
  border: solid 0.5rem rgba(216, 176, 44, 0.753);
  margin-top: 30px;
  width: 90%;
}

@media (max-width: 960px) {
  body main .conteiner .conteiner-h2 .conteiner-img .conteiner-img1 img,
  body main .conteiner .conteiner-h2 .conteiner-img .conteiner-img2 img {
    width: 75%;
  }
}

body footer .section {
  width: 100%;
  height: auto;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.39);
  color: ivory;
  text-align: center;
  justify-content: center;
  font-family: udmincho, ms mincho, ヒラギノ明朝 pro w3, hiragino mincho pro, serif;
}

@media (min-width: 710px) {
  body footer .section {
    display: flex;
  }
}

body footer .section .container1 {
  margin-right: 15px;
  margin-top: 30px;
}

body footer .section .container1 p {
  padding-top: 10px;
}

@media (max-width: 710px) {
  body footer .section .container1 {
    margin-bottom: 0px;
    margin-top: 0px;
  }
}

body footer .section .container1 .container-img .icon {
  width: 13%;
  margin: 10px;
}

body footer .section .container2 {
  margin-top: 30px;
  margin-left: 15px;
}

@media (max-width: 710px) {
  body footer .section .container2 {
    margin-bottom: 10px;
    margin-top: 0px;
  }
}

body footer .section .container2 p {
  padding-top: 10px;
}
